.carruselContainer {
    margin-top: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    margin: 0 10px;
}

.card {
    border: 1px solid #ddd; /* Borde ligero */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se salga */
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom */
}

.cardImage {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Asegura que las imágenes no se deformen */
    border-bottom: 1px solid #ddd;
}

.noImage {
    height: 300px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    padding: 10px;
    text-align: center;
}

.slick-dots li button:before {
    color: #000; /* Color de los puntos del carrusel */
}

.slick-dots li.slick-active button:before {
    color: #f00; /* Color del punto activo */
}
