.fondo{
    background-image: url("../images/pngtree-silver-silk-minimalist-background-image_2172665.jpg");
    background-size: cover;  /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat;
    box-shadow: 10px 10px 15px  black ;
}