.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.custom-search-bar {
    width: 100%;
    padding: 1.5vh;
    font-size: 2vh;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Arsenal SC', serif;
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.425);
    border: none ;
    outline: none;
}

.custom-search-bar::placeholder {
    color: rgb(255, 255, 255);
}
