.series-details {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    width: auto; 
    max-width: 300px;
    padding: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
    font-family: 'Arsenal SC', serif;
}
    
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
}
  
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
  
.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Arsenal SC', serif;
    letter-spacing: .1rem;
    gap: 5vw;
}
  
.buttons button {
    background-color: transparent;
    padding: 10px 20px;
    color: white; 
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease; 
    font-weight: normal;
}
  
.buttons button:hover {
    background-color: #ffffff00;
    color: #ffffff;
    transform: scale(1.05);
}


.rating{
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.3rem;
}

.title {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
}
  
.title {
    font-size: 5.5rem;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: 'Arsenal SC', serif;
}

.star {
    color: #ddd;
    font-size: 2em;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.favoriteButton:hover {
    transform: scale(1.1); /* Pequeño zoom al pasar el ratón */
}

.heartIcon {
    width: 24px;
    height: 24px;
    stroke: rgb(255, 255, 255);
    fill: none;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.favoriteButton:hover .heartIcon {
    stroke: red;
}

.heartIcon[fill="red"] {
    stroke: red;
    fill: red;
}

.home{
    font-size: 2em;
    cursor: pointer;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Arsenal SC', serif;
    letter-spacing: .1rem;
    gap: 5vw;
    padding: 0;
}

.vermas{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Arsenal SC', serif;
    letter-spacing: .1rem;
    gap: 5vw;
    background-color: transparent;
    padding: 10px 20px;
    color: white; 
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.vermas:hover {
    background-color: #ffffff00;
    color: #ffffff;
    transform: scale(1.05);
}

.warning{
    display: flex;
    gap: 10px;
    bottom: 20px;
    left: 20px;
    font-family: 'Arsenal SC', serif;
    letter-spacing: .1rem;
    gap: 5vw;
    background-color: transparent;
    padding: 10px 20px;
    color: white; 
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease; 
    font-weight: normal;
}

.warning:hover{
    background-color: #ffffff00;
    color: #ffffff;
    transform: scale(1.05);
}