.card {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImage {
    height: 350px;
    object-fit: cover;
}

.cardContent {
    text-align: center;
    padding: 10px;
}

.cardTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.cardSubtitle {
    font-size: 0.9rem;
    color: #666;
}
