.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.250);
    color: white;
    padding: 20px;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    backdrop-filter: blur(3px);
    font-family: 'Arsenal SC', serif;
    display: flex;
    align-items: center;
}
  
.sidebar.active {
    transform: translateX(0);
}

.active {
  transform: translateX(0);
}

.closeButton {
  color: white;
  border: none;
  padding: 8px 8px;
  cursor: pointer;
  margin-bottom: 16px;
  background: transparent;
  font-size: 2.5vh;
  position: fixed;
  top: 20px;
  transition: background-color .8s ease, font-size .8s ease;
}

.closeButton:hover{
  font-size: 3vh;
}

.backButton {
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 2.5vh;
  transition: background-color .8s ease, font-size .8s ease;
}

.backButton:hover {
  font-size: 2.7vh;
}

.heading {
  margin-bottom: 8px;
  font-size: 5vh;
}

.button {
  border: none;
  padding: 0px 0px;
  cursor: pointer;
  width: 50%;
  border-radius: 4px;
  font-size: 2.5vh;
  transition: background-color .8s ease, font-size .8s ease;
  text-align: left;
}

.button:hover {
  font-size: 2.7vh;
}

.cast{
  padding: 0px 0px;
  width: 50%;
  font-size: 2.5vh;
  text-align: left;
}
.series, .names, .episodes {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%; 
  height: auto;
  max-height: 60%;
  overflow-y: auto; 
  padding: 10px;
  gap: 10px; 
  white-space: normal;
}