@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #ffffff;
    --primary-color: #1f2937;
    --accent-color: #e54676;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.back {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(217, 217, 217, 0.17);
    backdrop-filter: blur(25px);
    z-index: -1;
}

.fondito {
    position: relative;
    height: 100vh;
    width: 100%;
}

.fondito::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(20px);
    z-index: -1;
}

.ibinge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    background-color: var(--foreground);
    color: var(--primary-color);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #100f0f;
}

.platform-section {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 10vh;
}

.platform-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
    padding: 2rem;
}

.platform-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7vh 8vw;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.platform-button {
    width: 250px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.platform-button:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.platform-netflix {
    background-image: url("./images/netflix_1.jpg");
}

.platform-max {
    background-image: url("./images/max.jpg");
}

.platform-hulu {
    background-image: url("./images/hulu.jpg");
}

.platform-paramount {
    background-image: url("./images/paramount.jpg");
}

.platform-primevideo {
    background-image: url("./images/prine.jpg");
}

.platform-peacock {
    background-image: url("./images/pea.jpg");
}

.platform-disney {
    background-image: url("./images/disney.jpg");
}

.platform-apple {
    background-image: url("./images/img_apple.jpg");
}

.platform-crunchyroll {
    background-image: url("./images/crunchy.jpg");
}