/* Fondo del contenedor */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d9d9d9; /* Gris claro */
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #d9d9d9; /* Gris claro */
    padding: 2% 3%; /* Espaciado en los costados */
    margin-top: 2%;
}

/* Tarjeta del formulario */
.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    background-color: #FFFFFF; /* Blanco para contraste */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    height: 90%;
}

.form-card h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000; /* Texto negro */
    text-align: center;
}

.form-card .subtext {
    font-size: 1rem; /* Tamaño mayor */
    margin-bottom: 20px;
    color: #000; /* Texto negro */
    text-align: center;
}

.form-card .subtext a {
    color: #4F46E5; /* Azul para los enlaces */
    text-decoration: none;
    font-weight: bold; /* Destacar enlaces */
}

.form-card form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos del formulario */
    width: 100%; /* Asegurar que los campos ocupen el ancho completo */
}

.form-card label {
    font-size: 1.1rem; /* Letras más grandes */
    color: #000000; /* Texto negro */
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

.form-card input {
    width: 100%; /* Ocupa todo el ancho */
    padding: 12px; /* Más espacio interno */
    margin-bottom: 20px;
    font-size: 1rem; /* Texto más legible */
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;

}

.form-card button {
    width: 100%; /* Botón del mismo ancho que los campos */
    background-color: #000; /* Negro para destacar */
    color: #FFF;
    padding: 12px 15px; /* Más espacio en el botón */
    font-size: 1.1rem; /* Texto más grande en el botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-card button:hover {
    background-color: #333; /* Más oscuro al pasar */
}

/* Sección de la imagen */
.image-section {
    flex: 1;
    position: relative;
    background-image: url('../images/serie_collage.jpg'); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 90%; /* Imagen más alta */
}

.image-section .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFF; /* Texto blanco */
    font-size: 1rem; /* Texto más grande */
    line-height: 1.5;
    width: 90%;
}

