body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d9d9d9;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #d9d9d9;
    padding: 2% 3%;
    gap: 30px;
    font-family: 'Arsenal SC', serif;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5vw;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    height: 90%;
}

.form-card h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.form-card .subtext {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.form-card .subtext a {
    color: #4F46E5;
    text-decoration: none;
    font-weight: bold;
}

.form-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-card label {
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 5px;
    text-align: left;
    width: 100%; 
}

.form-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border-color 0.3s ease;
    color: black;
}

.form-card input:focus {
    border-color: #4F46E5; 
}

.form-card button {
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding: 12px 15px;
    font-size: 1.1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-card button:hover {
    background-color: #333;
    transform: scale(1.02);
}

.image-section {
    flex: 1;
    position: relative;
    background-image: url('../images/serie_collage.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 90%;
}

.image-section .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFF;
    font-size: 1rem;
    line-height: 1.5;
    width: 90%;
}
